# API requirements
langchain>=0.0.354
langchain-experimental>=0.0.47
langchain-openai
setuptools_scm
fschat>=0.2.36
transformers>=4.37.2
fastapi>=0.109.0
sse_starlette>=1.8.2
nltk>=3.8.1
unstructured[docx,pptx] # ==0.11.8
# python-magic-bin; sys_platform == 'win32'
SQLAlchemy==2.0.25
faiss-gpu>=1.7.4
spacy>=3.7.2
PyMuPDF>=1.23.16
pathlib>=1.0.1
pytest>=7.4.3
numexpr>=2.8.6
strsimpy>=0.2.1
markdownify>=0.11.6
websockets>=12.0
pandas>=2.0.3
# einops>=0.7.0
# transformers_stream_generator==0.0.4
# llama-index==0.9.35
# torch==2.1.2
# torchvision==0.16.2
# torchaudio==2.1.2
hanlp
rank_bm25
jq>=1.6.0
rapidocr_paddle[gpu]>=1.3.11

# WebUI requirements

streamlit>=1.30.0
streamlit-option-menu>=0.3.12
streamlit-antd-components>=0.3.1
streamlit-chatbox>=1.1.11
# streamlit-modal>=0.1.0
streamlit-aggrid>=0.3.4.post3
streamlit_javascript

httpx>=0.26.0
httpx_sse>=0.4.0
watchdog>=3.0.0
pyjwt>=2.8.0
selectolax
et-xmlfile
openpyxl
python-multipart
xinference-client
opencv-python-headless
xlrd

# cu118

# auto-gptq==0.7.0
# vllm==0.3.1
# xformers==0.0.23.post1
# torch==2.1.2  ##on Windows system, install the cuda version manually from https://pytorch.org/
# fschat==0.2.36
# accelerate==0.26.1
# cupy-cuda11x

# Online api libs dependencies

# zhipuai>=1.0.7
# dashscope>=1.10.0
# qianfan>=0.2.0
# volcengine>=1.0.106
# pymilvus>=2.3.3
# psycopg2
# pgvector>=0.2.4

# Agent and Search Tools

# arxiv>=2.0.0
# youtube-search>=2.1.2
# duckduckgo-search>=4.9.3
# metaphor-python>=0.1.23

# protobuf>=4.25.2
# tokenizers>=0.15.0
# cpm_kernels>=1.0.11
# gradio>=4.16.0
# sentencepiece>=0.1.99
# sentence_transformers>=2.3.1
# loguru~=0.7.2
# mdtex2html>=1.3.0
# latex2mathml>=3.77.0
# jupyter
# jupyterlab
# jupyterlab_server
# jupyter_client

# for openai demo
# openai>=1.10.0
# zhipuai>=2.0.1

# pydantic>=2.6.0
# sse_starlette>=2.0.0
# uvicorn>=0.27.0
# timm>=0.9.12
# ttiktoken>=0.5.2

# for langchain demo

# langchain>=0.1.5
# langchainhub>=0.1.14
# arxiv>=2.1.0
